<app-header></app-header>
<div class="middle-img" style="text-align: center;">
    <img src="assets/home1.png" alt="Liên hệ">
</div>
<h1>Liên hệ</h1>
<div class="container">
    <div class="contact-container">
        <div class="contact-section">
            <h2>KIM BẢO HOTEL</h2>
            <ul>
                <li> <i class="bi bi-building"></i> 16 Vuong Chieu Street, Hai Duong City, VN. </li>
                <li> <i class="bi bi-telephone-inbound"></i> +84 220 3867 389 </li>
                <li> <i class="bi bi-mailbox"></i> info@kimbaohotel.com.vn</li>
                <li>  <i class="bi bi-globe2"></i> https://kimbaohotel.com.vn</li>
                
            </ul>
        </div>
        <div class = "contact-section">
            <img src="assets/contactadd.png" alt="Địa chỉ" >
        </div>
    </div>
</div>
  
<app-footer></app-footer>