<app-header></app-header>
<div class="middle-img" style="text-align: center;">
    <img src="assets/home1.png" alt="Liên hệ">
</div>
<h1>Liên hệ</h1>
<div class="container">
    <div class="contact-container">
        <div class="contact-section">
            <h2>KIM BẢO HOTEL</h2>
            <ul>
                <li> <i class="bi bi-building"></i> 16 Vuong Chieu Street, Hai Duong City, VN. </li>
                <li> <i class="bi bi-telephone-inbound"></i> +84 220 3867 389 </li>
                <li> <i class="bi bi-mailbox"></i> info@kimbaohotel.com.vn</li>
                <li>  <i class="bi bi-globe2"></i> https://kimbaohotel.com.vn</li>
                
            </ul>
            <h2>Tra cứu thông tin cây ATM gần nhất:</h2>
            <label for="fname">Nhập tên chi nhánh:</label>
            <input type="text" id="fname" 
            [(ngModel)]="Name" name="Name" placeholder="Tên chi nhánh...">

            <input type="submit" value="Tìm kiếm"
            (click)="searchATM()">

            <textarea id="branchName" name="branchName" rows="4" cols="50" placeholder="Thông tin..."
            [(ngModel)]="informationATM" 
            ></textarea>
            <!-- <div class="col-md-6">
                <input type="text">
            </div> -->
        </div>
        <div class = "contact-section">
            <img src="assets/contactadd.png" alt="Địa chỉ" >
        </div>
    </div>
</div>
  <!--  -->
<app-footer></app-footer>