h1{
    font-family: Passions Conflict;
    text-align: center;
    font-style: italic;
    text-decoration-line: underline;
    font-size: 40px;
    margin: 20px;
}
.more-details{
    color: black;
    font-style: italic;
}
.news-container{
    display: flex;
    justify-content: space-between; 
    margin: 20px; 
}
.news-section{
    padding: 10px; 
    margin: 10px; 
    text-align: center; 
    position: relative; 
}
