
  .middle-bar {
    width: 100%;
    text-align: center;
  }
  
  .welcome-text {
    text-align: center;
  }
  
  .phone {
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
  }
  
  .book {
    text-decoration: none;
    color: #000;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
    margin-right: 10px;
  }
  // Content
  .container {
margin-bottom: 20px;
}

  // footer
.site-footer {
  background-color: #EFE1CE;
}

.footer-logo {
  text-align: center;
  padding-bottom: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
}

.footer-section ul,
.footer-section p {
  list-style-type: none;
}

.footer-section.address {
  text-align: center;
}

.footer-section a {
  color: #333;
  text-decoration: none;
  display: inline;
  margin-bottom: 5px;
}

.footer-section a:hover {
  text-decoration: underline;
}