
h1{
  font-family: Passions Conflict;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
  margin: 20px;
}
h4{
font-size: 20px;
font-weight: 500;
}
  .middle-bar {
    width: 100%;
    text-align: center;
  }
  
  .welcome-text {
    text-align: center;
  }
  
  .phone {
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
  }
  
  .book {
    text-decoration: none;
    color: #000;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
    margin-right: 10px;
  }
  // Content
  .container {
margin-bottom: 20px;
font-size: 16px;
}
