<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body> -->
  <!-- Footer -->

  <footer class = "site-footer">
    <div class = "footer-logo">
      <img src="assets/logo.png" alt="Logo Kim Bảo">
    </div>
    <div class = "footer-container">
     
      <div class = "footer-section">
        <h4>Điều khoản</h4>
        <ul>
          <li><a routerLink="/quy-dinh-chung(gan sau)">Quy định chung</a></li>
          <li><a routerlink="/quy-dinh-ve-thanh-toan">Quy định về thanh toán</a></li>
          <li><a routerlink="/quy-dinh-ve-xac-nhan-thong-tin-phong-dat">Quy định về xác nhận thông tin phòng đặt</a></li>
          <li><a routerLink="/chinh-sach-quyen-rieng-tu">Chính sách quyền riêng tư</a></li>
        </ul>
        <h4>Về Kim Bảo</h4>
        <ul>
          <li><a routerLink="/about">Về chúng tôi</a></li>
          <li><a routerLink="/contact">Liên hệ</a></li>
          <li><a routerLink="/tuyendung">Tuyển dụng</a></li>
          <li><a routerLink="/ask">Câu hỏi thường gặp</a></li>
        </ul>
      </div>
  
      <div class = "footer-section address">
        <h4 style ="font-weight: normal;">Số 16 Đường Vương Chiêu, thành phố Hải Dương, Việt Nam</h4>
        <p>+84 220 3867 389 (24/7)</p>
        <p>info@kimbaohtel.com.vn</p>
      </div>
      <div class = "footer-section">
        <h4>Social Network</h4>
        <a href="https://www.facebook.com/nguyenthao02122001" target="_blank" style="padding-right: 10px;">
          <img src="assets/footer1.png" alt="facebook">
        </a>
        <a href="https://www.instagram.com/sun.shine_021" target="_blank" style ="padding-right: 10px;">
          <img src="assets/footer2.png" alt="instagram">
        </a>
      <a href="https://www.youtube.com/watch?v=RMmCz8oGws8" target = "_blank">
        <img src="assets/footer3.png" alt="youtube">
      </a>
      <h4>Tin tức & Sự kiện</h4>
      <ul>
        <!-- <li><a href="/link-tin-cong-ty">Tin công ty</a></li> -->
        <li><a href="/cam-nang-du-lich">Cẩm nang du lịch</a></li>
      </ul>
      </div>
  
    </div>
  </footer>

<!-- </body>
</html> -->
