<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form #editroomForm="ngForm" (ngSubmit)="saveRoom()">
                <div class="row">
                    <h3>THÔNG TIN PHÒNG</h3>
                    <div class="text-center">
                        <label for="roomId" class="form-label"><strong>Room ID:</strong></label>
                        <input type="text" class="form-control" id="roomId" [(ngModel)]="room_id" name="room_id"
                            [value]="roomResponse.room_id" disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="roomName" class="form-label"><strong>Room Name:</strong></label>
                        <input type="text" class="form-control" id="roomName" [(ngModel)]="room_number" name="room_number"
                            [value]="roomResponse.room_number">
                    </div>
                    <div class="col-md-6">
                        <label for="roomType" class="form-label"><strong>Room Type:</strong></label>
                        <input type="text" class="form-control" id="roomType" [(ngModel)]="type" name="type"
                            [value]="roomResponse.type">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="roomPrice" class="form-label"><strong>Room Price:</strong></label>
                        <input type="text" class="form-control" id="roomPrice" [(ngModel)]="price" name="price"
                            [value]="roomResponse.price">
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <div class="form-group">
                              <label for="roomStatus" class="form-label"><strong>Room Status:</strong></label>
                              <select class="form-control" id="roomStatus" [(ngModel)]="status" name="status"
                              [value]="roomResponse.status"
                              >
                                <option value="AVAILABLE">AVAILABLE</option>
                                <option value="BOOKED">BOOKED</option>
                                <option value="CLEANING">CLEANING</option>
                                <option value="REPAIRING">REPAIRING</option>
                            
                              </select>
                            </div>
                          </div>
                        <!-- <label for="roomStatus" class="form-label"><strong>Room Status:</strong></label>
                        <input type="text" class="form-control" id="roomStatus" [(ngModel)]="status" name="status"
                            [value]="roomResponse.status"> -->
                    </div>
                </div>
                <div class="mb-3">
                    <label for="roomDescription" class="form-label"><strong>Room Description:</strong></label>
                    <!-- <input type="text" class="form-control" id="roomDescription" [(ngModel)]="description" name="description"
                        [value]="roomResponse.description"> -->
                        <textarea class="form-control" id="roomDescription" [(ngModel)]="description" name="description" [value]="roomResponse.description" rows="4"></textarea>

                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>