<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- Header -->
<div class="header">
  <div class="top-bar">
    <div class="add-container">
      <img src="assets/ad1.png" alt="địa chỉ" class="icon-location">
      <p class="add">16 Vuong Chieu Street, Hai Duong City, VN <br>  +84 220 3867 389 <br></p>
    </div>
    <div class="logo">
      <img src="assets/logo.png" alt="KimBao Hotel" >
    </div>
    <div class="phone_number">
      <div class="login"> <!--khai bao thêm phần login -->
        <ng-container *ngIf="userResponse">
          <a href="/profile" class="login">
            Xin chào {{userResponse.full_name}} > |
          </a>
        </ng-container>
        <ng-container *ngIf="!userResponse">
          <a href="/login" class="login">
            Đăng nhập > |
          </a>
        </ng-container>
      </div>
<!--  -->
      <a href="/booking" class="book">Book Your Stay</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="8" viewBox="0 0 19 8" fill="none">
        <path
          d="M18.3536 4.35355C18.5488 4.15829 18.5488 3.84171 18.3536 3.64645L15.1716 0.464466C14.9763 0.269204 14.6597 0.269204 14.4645 0.464466C14.2692 0.659728 14.2692 0.976311 14.4645 1.17157L17.2929 4L14.4645 6.82843C14.2692 7.02369 14.2692 7.34027 14.4645 7.53553C14.6597 7.7308 14.9763 7.7308 15.1716 7.53553L18.3536 4.35355ZM0 4.5H18V3.5H0V4.5Z"
          fill="#E0B279" />
      </svg>
    </div>
  </div>
  <hr class="divider" />
  <nav class="navbar">
    <a href="/home" class="nav-item">HOME</a>
    <a href="/about" class="nav-item">GIỚI THIỆU</a>
    <a href="/rooms" class="nav-item">PHÒNG</a>
    <a href="/services" class="nav-item">DỊCH VỤ & TIỆN ÍCH</a>
    <a href="/news" class="nav-item">TIN TỨC</a>
    <a href="/contact" class="nav-item">LIÊN HỆ</a>
  </nav>
</div>
</body>
</html>
