<app-header></app-header>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="product-header" style="text-align: center;">BOOKINGS</h2>
            <form #orderForm="ngForm">
                <div class="mb-3">
                    <label for="room" class="form-label">Loại phòng</label>
                    <select class="form-select"
                    [(ngModel)]="room_type" name="roomType"
                     aria-label="Default select example" 
                     (change)="onRoomTypeChange()">
                     <option selected disabled>Chọn loại phòng</option>
                     <option *ngFor="let roomType of roomTypes" [value]="roomType">
                         {{ roomType }}
                     </option>
                    </select> 
                </div>
                <div class="mb-3">    
                    <label for="room" class="form-label">Số người</label>
                    <select class="form-select" 
                    [(ngModel)]="number_of_guests" name="number_of_guests"
                    aria-label="Default select example">
                        <option selected disabled>Chọn số lượng</option>
                        <option *ngFor="let i of guestQuantityOptions" [value]="i">{{ i }}</option>
                    </select>                    
                </div>
                <!-- <div class="mb-3">
                    <label for="service" class="form-label">Dịch vụ</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Chọn dịch vụ</option>
                        <option value="1">Dịch vụ 1</option>
                        <option value="2">Dịch vụ 2</option>
                    </select>
                </div>               -->
                <div class="row">
                    <!-- <div class="col-md-6">
                        <label for="checkin-date" class="form-label">Ngày nhận phòng</label>
                        <input type="date" class="form-control" id="checkin-date" style="width: 100%;"
                        (change)="validateDate()">
                    </div> -->
                    <div class="col-md-6">
                        <label for="checkin-date" 
                        class="form-label">Ngày nhận phòng</label>
                        <input type="date" class="form-control" 
                        [(ngModel)]="check_in" required
                            name="check_in"
                        id="checkin-date" style="width: 100%;" (change)="validateDate()">
                    </div>
                    
                    <div class="col-md-6">
                        <label for="checkout-date" 
                        class="form-label">Ngày trả phòng</label>
                        <input type="date" class="form-control"
                        [(ngModel)]="check_out" required
                        name="check_out"
                         id="checkout-date" style="width: 100%;" (change)="validateDate()">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="name" 
                    class="form-label">Họ và tên</label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="fullName" required
                    name="fullName"
                    id="name">
                </div>
                <div class="mb-3">
                    <label for="email"
                     class="form-label">Email</label>
                    <input type="email" class="form-control"
                    [(ngModel)]="email" required
                    name="email"
                     id="email">
                </div>
                <div class="mb-3">
                    <label for="phone" 
                    class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="phone_number" required
                    name="phone_number"
                    id="phone">
                </div>
                <div class="mb-3">
                    <label for="address"
                     class="form-label">Địa chỉ</label>
                    <input type="text" class="form-control" 
                    [(ngModel)]="address" required
                    name="address"
                    id="address">
                </div>
                <div class="mb-3">
                    <label for="note" 
                    class="form-label">Ghi chú</label>
                    <textarea class="form-control" 
                    [(ngModel)]="note" required
                    name="note"
                    id="note" rows="3"></textarea>
                </div>
            </form>
        </div>      
    </div>
    <div class="text-center mt-3">
        <button class="btn btn-gradient" type="button"
        (click)="confirm()">
            <!-- <a href="/confirm" style="text-decoration: none; color: white;">
                 Xác nhận </a></button> -->
                 Xác nhận </button>
    </div>
    <!-- <button class="btn btn-gradient" type="button" (click)="generatePDF()">
        In ra PDF
      </button> -->
</div>
<app-footer></app-footer>
