.container {
    color: black;
}

.product-header {
    color: #c0c709;
}
.form-control {
    background-color: white;
    border: 1px solid #FFC107;
    color: black;
}

.form-control:focus {
    border-color: white;
    background-color: #FFFFE0;
}
.form-label {
    color: black;
}
.product-header {
    color: black;
}
.product-order {
    color: black;
}
table {
    width: 100%;
    border-radius: 10px;
    border: none;
    border-collapse: separate;
    border: 1px solid #FFC107;
    border-spacing: 0;
    background-color: white    
}

th,
td {
    padding: 10px;
    text-align: center;
}
.product-info {
    display: flex;
    align-items: center;
}

.product-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 10px;
}

.product-name {
    color: black;
    margin-right: 10px;
}
.btn-gradient {
    background: linear-gradient(to right, #FFC107, rgb(188, 237, 43));
    color: black;
    border-radius: 30px;
    width: 200px;
  }