.container {
    color: black;
    padding-bottom: 20px;
}


.form-control {
    background-color: white;
    border: 1px solid #FFC107;
    color: black;
}

.form-control:focus {
    border-color: white;
    background-color: #FFFFE0;
}
.form-label {
    color: black;
}
.product-header {
    color: black;
}
.product-order {
    color: black;
}
.form-select{
    border: 1px solid #FFC107;
}
// table {
//     width: 100%;
//     border-radius: 10px;
//     border: none;
//     border-collapse: separate;
//     border: 1px solid #FFC107;
//     border-spacing: 0;
//     background-color: white    
// }

// th,
// td {
//     padding: 10px;
//     text-align: center;
// }
.btn-gradient {
    background: linear-gradient(to right, #FFC107, rgb(188, 237, 43));
    color: black;
    border-radius: 30px;
    width: 200px;
  }
  