<app-header></app-header>
<div class="middle-img" style="text-align: center;">
    <img src="assets/home1.png" alt="Liên hệ">
</div>
<h1 style=" font-family: Passions Conflict;text-align: center;font-style: italic;text-decoration-line: underline;">Liên hệ</h1>
<div class="contact-container">
    <div class="contact-section">
        <h2>KIM BẢO HOTEL</h2>
        <ul>
            <li> <img src="assets/contacticonadd.png" alt="Địa chỉ: " class="icon"> 16 Vuong Chieu Street, Hai Duong City, VN. </li>
            <li> <img src="assets/contacticonphone.png" alt="Điện thoại: " class="icon"> +84 220 3867 389 </li>
            <li> <img src="assets/contacticonmail.png" alt="View" class="icon"> info@kimbaohotel.com.vn</li>
            <li> <img src="assets/contacticonphone.png" alt="Nấu ăn" class="icon"> https://kimbaohotel.com.vn</li>
        </ul>
    </div>
    <div class = "contact-section">
        <img src="assets/contactadd.png" alt="Địa chỉ" >
    </div>
</div>
  
<app-footer></app-footer>