
h1 {
  align-items: center;
  text-align: center;
  color: #000;
  font-family: Passions Conflict;
  font-size: 60px;    
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  align-items: center;
  text-align: center;
  color: #000;
  font-family: Passions Conflict;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3{
  align-items: center;
  text-align: center;
  color: #000;
  font-family: Passions Conflict;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.title{
  font-family: Passions Conflict;
}
.description {
  text-align: justify;
  font-size: 18px;
  font-style: normal;
}
.container{
  margin:20px;
  
}

.hotel-wellcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.book-btn {
  text-decoration: none;
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 20px;
}
.col-md-6 {
  text-align: center;
}
.col-md-4 {
  text-align: center;
}

.hotel-discover {
  text-align: center;
}

.event-desc {
  margin-top: 5px;
}

.service-gallery-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}


.mt-auto {
  color: #000;
  font-family: Palatino Linotype;
text-decoration: none;
}