<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kim Bảo</title>

</head>
<body>
  <!-- Header -->
<app-header></app-header>

<!-- Body -->
<div class="middle-bar" style="text-align: center">
  <img src="assets/home1.png"  alt="KimBao Hotel">
</div>
    <div class="hotel-welcome">
        <div class="welcome-text">
          <h1 class="title">Welcome</h1>
          <h2 class="hotel-name">Khách sạn Kim Bảo Hải Dương</h2>
          <div class="row">
            <div class = "col-md-6">
              <img src="assets/home2.png" alt="Khách Sạn Kim Bảo Hải Dương" class="banner-image">
            </div>
          <div class = "col-md-6">
            <p class="description" style="text-align: justify;">Khách sạn Kim Bảo đạt tiêu chuẩn 3 sao tọa lạc tại số 16 Vương Chiêu, TP Hải Dương. Nằm cạnh đường quốc lộ số 5, Quý khách chỉ mất 2 phút để đi bộ tới hồ Bạch Đằng và 15 phút để tới trung tâm
              thành phố. Với 40 căn hộ và 27 phòng khách sạn đạt tiêu chuẩn, thiết kế hiện đại, trang thiết bị được đầu tư mới
              hoàn toàn sẽ mang lại cho quý khách sự tiện nghi, thoải mái và sang trọng. Khách sạn còn sở hữu 1 nhà hàng, 1
              quầy bar – café, 1 phòng hội nghị và sự kiện với sức chứa tối đa 150 khách, bể bơi ngoài trời và 1 phòng tập Gym
              đáp ứng mọi nhu cầu thiết yếu của quý khách trong thời gian lưu trú tại đây.
            </p>
          </div>
          </div>
        </div>
      </div>
      <div class="hotel-discover">
        <h1> Khám phá </h1>
        <h2> Room & Suites </h2>
        <a href="\link tới trang phòng" style="text-decoration: none; font-family: Open Sans; color: #000;">Xem tất cả </a>
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="8" viewBox="0 0 19 8" fill="none">
          <path
            d="M18.3536 4.35355C18.5488 4.15829 18.5488 3.84171 18.3536 3.64645L15.1716 0.464466C14.9763 0.269204 14.6597 0.269204 14.4645 0.464466C14.2692 0.659728 14.2692 0.976311 14.4645 1.17157L17.2929 4L14.4645 6.82843C14.2692 7.02369 14.2692 7.34027 14.4645 7.53553C14.6597 7.7308 14.9763 7.7308 15.1716 7.53553L18.3536 4.35355ZM0 4.5H18V3.5H0V4.5Z"
            fill="#E0B279" />
        </svg>
      </div>    
      
      <div class="row">
        <div class="col-md-6">
          <img src="assets/room1.png" alt="Room1" class="room1">
        </div>
        <div class="col-md-6">
          <h3> GRAND PREMIUM SUITE </h3>
          <p>Với không gian sang trọng của Grand Premium Suite, nơi sự tiện nghi hòa quyện cùng vẻ đẹp tinh tế. Phòng
            suite này cung cấp trải nghiệm nghỉ dưỡng đỉnh cao với phòng khách rộng lớn, phòng ngủ riêng biệt và ban công
            riêng tư để ngắm nhìn khung cảnh hùng vĩ. Mỗi chi tiết từ thiết kế nội thất đến các tiện ích đều được chăm
            chút kỹ lưỡng, đảm bảo một kỳ nghỉ xa hoa và không kém phần thoải mái.</p>
          <a href="\link tới trang khám phá phòng" style="text-decoration: none; font-family: Open Sans; color: #000;">Khám phá </a>
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="8" viewBox="0 0 19 8" fill="none">
            <path
              d="M18.3536 4.35355C18.5488 4.15829 18.5488 3.84171 18.3536 3.64645L15.1716 0.464466C14.9763 0.269204 14.6597 0.269204 14.4645 0.464466C14.2692 0.659728 14.2692 0.976311 14.4645 1.17157L17.2929 4L14.4645 6.82843C14.2692 7.02369 14.2692 7.34027 14.4645 7.53553C14.6597 7.7308 14.9763 7.7308 15.1716 7.53553L18.3536 4.35355ZM0 4.5H18V3.5H0V4.5Z"
              fill="#E0B279" />
          </svg>
        </div>
      </div>
      <div>
        <h1>Sự kiện</h1>
        <h2> Conferences, Weddings</h2>
        <div class ="row">
          <div class="col-md-4">
            <img src="assets/event1.png" alt="meeting & Conferences">
            <div class="event-desc">Meetings & Conferences</div>
          </div>
          <div class="col-md-4">
            <img src="assets/event2.png" alt="Weddings">
            <div class="event-desc">Weddings</div>
          </div>
          <div class="col-md-4">
            <img src="assets/event3.png" alt="Swimming pool">
            <div class="event-desc">Swimming Pool</div>
          </div>  
        </div>
      </div>
        <div>
          <h1>Thưởng thức</h1>
          <h2>Restaurant</h2>
    
          <div class = "service-gallery-container">
            <div class = "service-gallery">
              <img src="assets/service1.png" alt="service1">
            </div>
            <div class = "service-gallery">
              <img src="assets/service2.png" alt="service2">
            </div>
          </div>
          <div style="display: flex; justify-content: center;">
            <a href="\Link tới trang xem thêm" style="text-decoration: none; font-family: Open Sans; color: #000;" >Xem thêm</a>
          </div>
          
        </div>
    
      <div>
        <h1>Feedback</h1>
        <h2> Khách hàng feedback</h2>
    
        <div class ="row">
          <div class ="col-md-4">
          <h3>Nhân viên rất nhiệt tình</h3>
          <p>Nhân viên được định hướng dịch vụ đáng kinh ngạc. Từ quầy lễ tân đến nhà hàng, mọi người đều muốn đảm bảo rằng du khách luôn vui vẻ và thoải mái trong mọi khoảnh khắc lưu trú!</p>
          <p style ="font-weight: bold;">Chị An - Hà Nội </p>
          </div>
          <div class ="col-md-4"> 
          <h3>Cơ sở vật chất hiện đại</h3>
          <p>Cơ sở vật chất hiện đại, đồ dùng thiết bị trong phòng còn mới, sạch sẽ và khá tiện nghi. Mình ở mấy ngày và cảm thấy khá thoải mái</p>
          <p style = "font-weight: bold;">Anh Sơn - Vĩnh Phúc</p>
          </div>
          <div class ="col-md-4"> 
            <h3>Dịch vụ tuyệt vời</h3>
            <p> Mình khá bất ngờ với dịch vụ tại khách sạn. Gia đình mình trải nghiệm đồ ăn và bể bơi rất tuyệt, với mức giá này thì mình thấy không còn gì để chê luôn.</p>
            <p style = "font-weight: bold;">Chị Hường - Hải Phòng</p>
          </div>
         </div>
    
         <div>
          <h1>Tin tức</h1>
          <h2>Cảm hứng từ những chuyến đi</h2>
          <div class="container">
            <div class="row">
              <div class="col-md-4 d-flex flex-column">
                <img src="assets/new1.png" alt="new1">
                <a href="/link bài viết" class="mt-auto">Cẩm nang du hí ở Hải Dương bạn cần biết</a>
              </div>
              <div class="col-md-4 d-flex flex-column">
                <img src="assets/new2.png" alt="new2">
                <a href="/link bài viết" class="mt-auto">Top 10 địa điểm ở Hải Dương nhất định bạn nên đi một lần!</a>
              </div>
              <div class="col-md-4 d-flex flex-column">
                <img src="assets/new3.png" alt="new3">
                <a href="/link bài viết" class="mt-auto">Đảo Cò - Hải Dương điểm đế lý tưởng để hòa mình vào thiên nhiên</a>
              </div>
            </div>
          </div>
          
         </div>
      </div>
    <!-- Footer -->
<app-footer></app-footer>
</body>
</html>

<!--  -->