.btn-gradient {

    background: linear-gradient(to right, #FFC107, rgb(188, 237, 43));
    color: black;
    border-radius: 30px;
    width: 200px;
  }

  .form-control {
    background-color: white;
    border: 1px solid #FFC107;
    color: black;
}

.disabled-input {
  background-color: #f0f0f0; /* Màu xám nhạt hoặc màu khác tùy chọn */
  color: #555; /* Màu chữ cho môi trường disabled */
  cursor: not-allowed; /* Đổi hình con trỏ khi hover trên phần disabled */
}