.btn-gradient {

    background: linear-gradient(to right, #FFC107, rgb(188, 237, 43));
    color: black;
    border-radius: 30px;
    width: 200px;
  }

  .form-control {
    background-color: white;
    border: 1px solid #FFC107;
    color: black;
}