<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <app-header></app-header>
  <!-- content -->
  <div class="middle-bar">
    <img src="assets/about1.png" style="text-align: center" alt="KimBao Hotel">
  </div>
  <h1 style="text-align: center;">Giới thiệu</h1>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="about-content">
          <p> <strong>Khách sạn Kim Bảo</strong> đạt tiêu chuẩn 3 sao tọa lạc tại số 16 Vương Chiêu, TP Hải Dương. Nằm
            cạnh đường quốc lộ số 5, Quý khách chỉ mất 2 phút để đi bộ tới hồ Bạch Đằng và 15 phút để tới trung tâm
            thành phố. Với 40 căn hộ và 27 phòng khách sạn đạt tiêu chuẩn, thiết kế hiện đại, trang thiết bị được đầu tư
            mới hoàn toàn sẽ mang lại cho quý khách sự tiện nghi, thoải mái và sang trọng. Khách sạn còn sở hữu 1 nhà
            hàng, 1 quầy bar-café, 1 phòng hội nghị và sự kiện với sức chứa tối đa 150 khách, bể bơi ngoài trời và 1
            phòng tập Gym đáp ứng mọi nhu cầu thiết yếu của quý khách trong thời gian lưu trú tại đây.</p>
          <h4>Thông tin khách sạn:</h4>
          <ul>
            <li>Giờ nhận phòng: 2:00 PM</li>
            <li>Giờ trả phòng: 12:00 PM</li>
            <li>Bãi đỗ xe miễn phí</li>
            <li>Dịch vụ taxi</li>
            <li>Dịch vụ wi-fi miễn phí</li>
            <li>Chấp nhận thanh toán hầu hết các thẻ ứng dụng</li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <img src="assets/about2.png" alt="Khách sạn Kim Bảo">
      </div>
    </div>

  </div>

  <!-- Footer -->
  <app-footer></app-footer>
</body>

</html>