<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-header></app-header>
    <div class = "middle-img" style="text-align: center;">
        <img src="assets/newsmiddleimg.png" alt="Tin tức" >
    </div>
    <h1 style =" font-family: Passions Conflict;text-align: center;font-style: italic;text-decoration-line: underline;">Tin tức</h1>
    <div class = "news-container">
        <div class = "news-section" style ="size: 50%;">
            <img src="assets/news1.png" alt="Vải thiều thanh hà">
        </div>
        <div class = "news-section">
            <h2> VẢI THIỀU THANH HÀ: THỨC QUẢ NGỌT NGÀO VÙNG THÀNH ĐÔNG</h2>
            <p>Về Hải Dương những ngày hè mùa Vải thiều chín đỏ rực hai bên bờ Sông Hương, chèo thuyền len qua những rặng Vải trĩu quả rủ xuống dòng sông, quý khách sẽ được hòa mình với thiên nhiên thơ mộng của vùng đất Thanh Hà trù phú. Chụp ảnh Check in Vườn vải, thưởng thức mật ong vải đặc sản từ thiên nhiên và trải nghiệm hái vải thu hoạch cùng bà con vùng đất Thanh Hà.</p>
            <a href="/link toi trang bai viet">XEM THÊM </a>
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="8" viewBox="0 0 19 8" fill="none">
                <path d="M18.3536 4.35355C18.5488 4.15829 18.5488 3.84171 18.3536 3.64645L15.1716 0.464466C14.9763 0.269204 14.6597 0.269204 14.4645 0.464466C14.2692 0.659728 14.2692 0.976311 14.4645 1.17157L17.2929 4L14.4645 6.82843C14.2692 7.02369 14.2692 7.34027 14.4645 7.53553C14.6597 7.7308 14.9763 7.7308 15.1716 7.53553L18.3536 4.35355ZM0 4.5H18V3.5H0V4.5Z" fill="#E0B279"/>
              </svg>
        </div>
    </div>
    
    <div class = "news-container">
        <div class = "news-section" style ="size: 50%;">
            <img src="assets/news2.png" alt="Tour du lịch Thành Đông">
        </div>
        <div class = "news-section">
            <h2> TOUR DU LỊCH: SẮC MÀU THÀNH ĐÔNG</h2>
            <p>Tìm hiểu sắc màu độc đáo của con người và thiên nhiên làng quê Bắc Bộ qua những trải nghiệm có 1-0-2 tại làng gốm Chu Đậu, vườn gốm thư pháp và đảo cò Chi Lăng.</p>
            <a href="/link toi trang bai viet">XEM THÊM </a>
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="8" viewBox="0 0 19 8" fill="none">
                <path d="M18.3536 4.35355C18.5488 4.15829 18.5488 3.84171 18.3536 3.64645L15.1716 0.464466C14.9763 0.269204 14.6597 0.269204 14.4645 0.464466C14.2692 0.659728 14.2692 0.976311 14.4645 1.17157L17.2929 4L14.4645 6.82843C14.2692 7.02369 14.2692 7.34027 14.4645 7.53553C14.6597 7.7308 14.9763 7.7308 15.1716 7.53553L18.3536 4.35355ZM0 4.5H18V3.5H0V4.5Z" fill="#E0B279"/>
              </svg>
        </div>
    </div>
    
    <div class = "news-container">
        <div class = "news-section" style ="size: 50%;">
            <img src="assets/news3.png" alt="Tour du lịch Thành Đông">
        </div>
        <div class = "news-section">
            <h2>5 ĐẶC SẢN HẢI DƯƠNG NHẤT ĐỊNH PHẢI THỬ</h2>
            <p>Vùng đất Hải Dương trù phú với nhiều sản vật thiên nhiên độc đáo, từ bàn tay những người nông dân cho ra những món ngon mang đậm hương vị vùng quê Bắc Bộ, nức lòng du khách, là món quà thơm thảo không thể thiếu mỗi lần ghé thăm nơi đây.</p>
            <a href="/link toi trang bai viet">XEM THÊM </a>
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="8" viewBox="0 0 19 8" fill="none">
                <path d="M18.3536 4.35355C18.5488 4.15829 18.5488 3.84171 18.3536 3.64645L15.1716 0.464466C14.9763 0.269204 14.6597 0.269204 14.4645 0.464466C14.2692 0.659728 14.2692 0.976311 14.4645 1.17157L17.2929 4L14.4645 6.82843C14.2692 7.02369 14.2692 7.34027 14.4645 7.53553C14.6597 7.7308 14.9763 7.7308 15.1716 7.53553L18.3536 4.35355ZM0 4.5H18V3.5H0V4.5Z" fill="#E0B279"/>
              </svg>
        </div>
    </div>
    
    <div class = "news-container">
        <div class = "news-section" style ="size: 50%;">
            <img src="assets/news4.png" alt="Tour du lịch Thành Đông">
        </div>
        <div class = "news-section">
            <h2>CUỐI TUẦN LÊN ĐỒ DẠO PHỐ ĐI BỘ HẢI DƯƠNG</h2>
            <p>Với mục tiêu thúc đẩy du lịch, tạo điểm vui chơi check-in cho người dân tỉnh Hải Dương đã lên kế hoạch mở cửa phố đi bộ, tạo cơ hội cho du khách được trải nghiệm những món ăn truyền thống, ca nhạc dân tộc và các hoạt động giải trí thú vị.</p>
            <a href="/link toi trang bai viet">XEM THÊM </a>
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="8" viewBox="0 0 19 8" fill="none">
                <path d="M18.3536 4.35355C18.5488 4.15829 18.5488 3.84171 18.3536 3.64645L15.1716 0.464466C14.9763 0.269204 14.6597 0.269204 14.4645 0.464466C14.2692 0.659728 14.2692 0.976311 14.4645 1.17157L17.2929 4L14.4645 6.82843C14.2692 7.02369 14.2692 7.34027 14.4645 7.53553C14.6597 7.7308 14.9763 7.7308 15.1716 7.53553L18.3536 4.35355ZM0 4.5H18V3.5H0V4.5Z" fill="#E0B279"/>
              </svg>
        </div>
    </div>
    <!-- <button class = "news-btnmore" style="text-align: center;">TẢI THÊM</button> -->
    <app-footer></app-footer>
    
</body>
</html>
