<!-- payment.component.html -->

<div class="payment-form">
    <h2>Thông tin thanh toán</h2>
    <!-- Hiển thị các trường nhập liệu -->
    <label for="mobile">Mobile:</label>
    <input type="text" id="mobile" [(ngModel)]="mobile" name="mobile" />
  
    <label for="bankCode">Mã ngân hàng:</label>
    <input type="text" id="bankCode" [(ngModel)]="bankCode" name="bankCode" />
  
    <label for="amount">Tài khoản</label>
    <input type="text" id="accountNo" [(ngModel)]="accountNo" name="accountNo" />
    <label for="payDate">Ngày thanh toán</label>
    <input type="text" id="payDate" [(ngModel)]="payDate" name="payDate" />
    <label for="debitAmount">Số tiền</label>
    <input type="text" id="debitAmount" [(ngModel)]="debitAmount" name="debitAmount" />
    <label for="respCode"> Res code</label>
    <input type="text" id="respCode" [(ngModel)]="respCode" name="respCode" />
    <label for="respDesc">Res desc</label>
    <input type="text" id="respDesc" [(ngModel)]="respDesc" name="respDesc" />
    <label for="traceTransfer">Trace transfer</label>
    <input type="text" id="traceTransfer" [(ngModel)]="traceTransfer" name="traceTransfer" />
    <label for="message">Message</label>
    <input type="text" id="message" [(ngModel)]="messageType" name="message" />
    <label for="orderCode">Order code</label>
    <input type="text" id="orderCode" [(ngModel)]="orderCode" name="orderCode" />
    

    <!-- Nút thanh toán -->
    <button (click)="makePayment()">Thanh toán</button>
  
  </div>
  
