
<app-header></app-header>
<div class = "middle-img" style ="text-align: center;">
    <img src="assets/roommiddlebar.png" alt="Khám phá phòng" >
</div>
<div>
    <h1 style =" font-family: Passions Conflict;text-align: center;font-style: italic;text-decoration-line: underline;">Dịch vụ</h1>
    <p style =" margin: 0 20px;">Khách sạn Kim Bảo tự hào mang đến một loạt tiện ích đẳng cấp: nhà hàng sang trọng phục vụ ẩm thực đa dạng, quầy bar-café thời thượng cho những buổi gặp gỡ nhẹ nhàng, và phòng hội nghị sự kiện rộng rãi có sức chứa lên tới 150 khách, lý tưởng cho mọi sự kiện từ kinh doanh đến xã hội. Ngoài ra, bể bơi ngoài trời trong lành và phòng tập Gym hiện đại kèm theo dịch vụ cá nhân hóa sẽ làm thăng hoa trải nghiệm nghỉ dưỡng của bạn, biến mỗi khoảnh khắc tại Khách sạn Kim Bảo thành ký ức khó quên.</p>
</div>
<div class ="service-container">
    <div class="service-section">
        <img src="assets/servicesres.png" alt="Nhà hàng" class ="service-image">
        <h3 class ="service-title">RESTAURANT</h3>
        <p class ="service-des">Khám phá hành trình ẩm thực đẳng cấp tại nhà hàng của Khách sạn Kim Bảo, nơi hòa quyện giữa phong cách kiến trúc lịch lãm và thực đơn phong phú. Mỗi món ăn tại đây không chỉ là bữa tiệc cho vị giác mà còn là tác phẩm nghệ thuật, chắc chắn sẽ mang lại trải nghiệm khó quên cho thực khách.
        </p>
        <a href="/link to gioi thieu them" class ="service-more">XEM THÊM</a>
    </div>
    <div class="service-section">
        <img src="assets/servicepool.png" alt="Bể bơi" class ="service-image">
        <h3 class ="service-title">SWIMMING POOL</h3>
        <p class ="service-des">Hồ bơi ngoài trời của Khách sạn Kim Bảo là thiên đường thư giãn trong lành, với không gian xanh mát từ những hàng cọ và tiếng nước lapping êm đềm. Nơi đây sẵn sàng đón bạn đến hòa mình vào làn nước trong xanh, tận hưởng giây phút thảnh thơi dưới ánh nắng dịu nhẹ của bầu trời.
        </p>
        <a href="/link to gioi thieu them" class ="service-more">XEM THÊM</a>
    </div>
</div>

<div class ="service-container">
    <div class="service-section">
        <img src="assets/servicebar.png" alt="Nhà hàng" class ="service-image">
        <h3 class ="service-title">BAR-CAFE</h3>
        <p class ="service-des">Bar-Café với thiết kế nội thất tinh tế và không gian ấm cúng, là điểm hẹn lý tưởng để bạn tận hưởng những giây phút thư giãn. Thả mình vào những bản nhạc du dương cùng một ly cà phê hảo hạng hoặc cocktail đặc biệt, bạn sẽ cảm nhận được sự sang trọng và yên bình giữa lòng thành phố.
        </p>
        <a href="/link to gioi thieu them" class ="service-more">XEM THÊM</a>
    </div>
    <div class="service-section">
        <img src="assets/servicegym.png" alt="Bể bơi" class ="service-image">
        <h3 class ="service-title">GYM</h3>
        <p class ="service-des">Phòng Gym được trang bị đầy đủ máy móc hiện đại và tầm nhìn tuyệt vời ra khu vườn, cung cấp một không gian lý tưởng cho những buổi tập luyện hứng khởi. Nơi đây sẽ kích thích mỗi hành trình chăm sóc sức khỏe của bạn, giữa không gian thoáng đãng và được thiết kế để nâng cao trải nghiệm rèn luyện của bạn.
        </p>
        <a href="/link to gioi thieu them" class ="service-more">XEM THÊM</a>
    </div>
</div>
<app-footer></app-footer>
