
<div class="container-fluid">
    <h2>Danh sách Bookings:</h2>
    <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Note</th>
            <th>Check-in</th>
            <th>Check-out</th>
            <th>Status</th>
            <th>Total Money</th>
            <th>Payment Date</th>
            <th>Payment Method</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookings">
            <td>{{ booking.id }}</td>
            <td>{{ booking.user_id }}</td>
            <td>{{ booking.full_name }}</td>
            <td>{{ booking.phone_number }}</td>
            <td>{{ booking.address }}</td>
            <td>{{ booking.note }}</td>
            <td>{{ booking.check_in | date }}</td>
            <td>{{ booking.check_out | date }}</td>
            <td>{{ booking.status }}</td>
            <td>{{ booking.total_money }}</td>
            <td>{{ booking.payment_date | date }}</td>
            <td>{{ booking.payment_method }}</td>
            <td>
              <button class="btn btn-danger" 
                (click)="deleteOrder(booking.id)"
                >Delete</button>
            </td>
            <td>
              <button class="btn btn-primary" 
                (click)="editOrder(booking)"
                >Edit</button>
          </tr>
        </tbody>
      </table>
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" *ngIf="currentPage > 1">
                    <a class="page-link" 
                    (click)="onPageChange(1)">First</a>
                </li>
                <li class="page-item" *ngIf="currentPage > 1">
                    <a class="page-link" 
                    (click)="onPageChange(currentPage - 1)">Previous</a>
                </li>
                <ng-container *ngFor="let page of visiblePages">
                    <li class="page-item" [ngClass]="{'active': page === currentPage}">
                        <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
                    </li>
                </ng-container>
                <li class="page-item" *ngIf="currentPage < totalPages">
                    <a class="page-link" (click)="onPageChange(currentPage + 1)">Next</a>
                </li>
                <li class="page-item" *ngIf="currentPage < totalPages">
                    <a class="page-link" (click)="onPageChange(totalPages)">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

      
<!--  -->