
.container{
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.middle-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-btn {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
  }

  .grandpremium-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 0 20px; 
  }
  
  .grandpremium-selection,
  .room-service {
    flex: 1; 
  }
  
  .grandpremium-selection {
    margin-right: 10px; 
  }
  
  .room-title {
    font-size: 1.5em; 
    margin-bottom: 10px; 
    font-family: Passions Conflict;
    font-style: bold;
  }
  .room-service {
    margin-left: 10px; 
  }
  
  .room-service ul {
    list-style: none; 
    padding: 0; 
  }
  
  .room-service li {
    display: flex;
    align-items: center; 
    margin-bottom: 5px; 
  }
  
  .room-service li .icon {
    margin-right: 10px; 
    width: 44px;
height: 42px;
flex-shrink: 0;
  }
  
  .book-btn {
    padding: 10px 20px; 
    background-color: #ffa500; 
    border: none; 
    cursor: pointer;
  }
  .bi {
    margin-right: 15px;
  }