
h1 {
  align-items: center;
  text-align: center;
  color: #000;
  font-family: Passions Conflict;
  font-size: 60px;    
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  align-items: center;
  text-align: center;
  color: #000;
  font-family: Passions Conflict;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hotel-wellcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.col-md-6 {
  text-align: center;
}
.hotel-discover {
  text-align: center;
}


.room {
  display: flex;
  justify-content: space-between;
  margin-left: -1rem;
  flex-flow: row wrap;
}

.room-content {
  flex: 1 0;
  margin: 1 rem;
  padding: 1 rem;
}

.event-gallery-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.event-gallery {
  flex: 0 1 auto;
  margin: 5px;
  text-align: center;
  max-width: 30%;
}


.event-desc {
  margin-top: 5px;
}

.service-gallery-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.feedback-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.new-gallery-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;

  .new-gallery-desc {
    color: #000;
    font-family: Palatino Linotype;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

// footer
.site-footer {
  background-color: #EFE1CE;
}

.footer-logo {
  text-align: center;
  padding-bottom: 20px;
}
// 
.footer-container {
  display: flex;
  justify-content: space-evenly;
}

.footer-section ul,
.footer-section p {
  list-style-type: none;
}

.footer-section.address {
  text-align: center;
}

.footer-section a {
  color: #333;
  text-decoration: none;
  display: inline;
  margin-bottom: 5px;
}

.footer-section a:hover {
  text-decoration: underline;
}