
<app-header></app-header>
<div class = "middle-img">
    <img src="assets/roommiddlebar.png" alt="Khám phá phòng" >
</div>
<div>
    <h1 style ="font-family: Passions Conflict;font-size: 50px;font-style: italic; text-decoration-line: underline;text-align: center;">Phòng nghỉ</h1>
    <p style ="font-family: Open Sans; font-size: 24px; font-style: normal; font-weight: 400;">Khách sạn Kim Bảo đạt tiêu chuẩn 3 sao tọa lạc tại số 16 Vương Chiêu, TP Hải Dương. 
    Nằm cạnh đường quốc lộ số 5, Quý khách chỉ mất 2 phút để đi bộ tới hồ Bạch Đằng và 15 phút để tới trung tâm thành phố. 
    Với 40 căn hộ và 27 phòng khách sạn đạt tiêu chuẩn, thiết kế hiện đại, trang thiết bị được đầu tư mới hoàn toàn sẽ mang lại cho quý khách sự tiện nghi, thoải mái và sang trọng.</p>
<h1 style ="font-family: Passions Conflict;font-size: 50px;font-style: italic; text-decoration-line: underline;text-align: center;">Các loại phòng</h1>
</div>
<!-- Grand premium -->
<div class = "roomgrandpremium">
    <h1 style ="font-size: 30px;">PHÒNG GRAND PREMIUM SUITE</h1>
<div style="text-align: center; padding-bottom: 20px;">
    <img src="assets/roomgrandpremium.png" alt="Grand premium suite">
</div>
<div class ="grandpremium-container">
<div class ="grandpremium-selection">
    <p>Grand Premium Suite - không gian 60-68m2 sang trọng, đầy đủ tiện nghi. Giường king-size với hoa hồng trải dài, lý tưởng cho những khoảnh khắc đặc biệt. Sàn gỗ ấm áp, nội thất tinh tế. Trải nghiệm nghỉ dưỡng đẳng cấp, đáng nhớ.</p>
    <div class = "grandpremium-price">
        <span>Giá: </span>
        <span class ="room-price"> <strong>4.700.000 VND</strong></span>
    </div>
    <button class = "book-btn">ĐẶT NGAY</button>
</div>

<div class = "room-service">
    <ul>
        <li> <img src="assets/roomiconm2.png" alt="Diện tích" class ="icon"> 60-68m2</li>
        <li> <img src="assets/roomiconbed.png" alt="Phòng ngủ" class = "icon"> 2 phòng ngủ</li>
        <li> <img src="assets/roomiconview.png" alt="View" class ="icon"> View hồ, view thành phố, view sông Thái Bình</li>
        <li> <img src="assets/roomiconchef.png" alt="Nấu ăn" class ="icon"> Bếp & dụng cụ nấu ăn</li> 
        <li> <img src="assets/roomiconcafe.png" alt="Cà phê" class ="icon"> Nước uống, trà, cà phê miễn phí</li>
        <li> <img src="assets/roomiconfit.png" alt="Thể dục" class ="icon"> Miễn phí bể bơi ngoài trời, phòng tập gym</li>
    </ul>
    
</div>
</div>
<!-- Premium -->
<div class = "roompremium">
    <h1 style ="font-size: 30px;">PHÒNG PREMIUM SUITE</h1>
<div style="text-align: center; padding-bottom: 20px;">
    <img src="assets/roompremium.png" alt="Grand premium suite">
</div>
<div class ="grandpremium-container">
<div class ="grandpremium-selection">
    <p>Premium Suite, với diện tích khoảng 45m2, là sự kết hợp tinh tế giữa không gian sang trọng và thoải mái. Nội thất cao cấp và thiết kế hiện đại tạo nên một trải nghiệm nghỉ dưỡng đẳng cấp.</p>
    <div class = "grandpremium-price">
        <span>Giá: </span>
        <span class ="room-price"> <strong>3.900.000 VND</strong></span>
    </div>
    <button class = "book-btn">ĐẶT NGAY</button>
</div>

<div class = "room-service">
    <ul>
        <li> <img src="assets/roomiconm2.png" alt="Diện tích" class ="icon"> 60-68m2</li>
        <li> <img src="assets/roomiconbed.png" alt="Phòng ngủ" class = "icon"> 2 phòng ngủ</li>
        <li> <img src="assets/roomiconview.png" alt="View" class ="icon"> View hồ, view thành phố, view sông Thái Bình</li>
        <li> <img src="assets/roomiconchef.png" alt="Nấu ăn" class ="icon"> Bếp & dụng cụ nấu ăn</li> 
        <li> <img src="assets/roomiconcafe.png" alt="Cà phê" class ="icon"> Nước uống, trà, cà phê miễn phí</li>
        <li> <img src="assets/roomiconfit.png" alt="Thể dục" class ="icon"> Miễn phí bể bơi ngoài trời, phòng tập gym</li>
    </ul>
    
</div>
</div>
<!-- SUITE ROOM -->
<div class = "roomsuite">    
    <h1 style ="font-size: 30px;">SUITE ROOM</h1>
<div style="text-align: center; padding-bottom: 20px;">
    <img src="assets/roomsuite.png" alt="Grand premium suite">
</div>
<div class ="grandpremium-container">
<div class ="grandpremium-selection">
    <p>Premium Suite, với diện tích khoảng 45m2, là sự kết hợp tinh tế giữa không gian sang trọng và thoải mái. Nội thất cao cấp và thiết kế hiện đại tạo nên một trải nghiệm nghỉ dưỡng đẳng cấp.</p>
    <div class = "grandpremium-price">
        <span>Giá: </span>
        <span class ="room-price"> <strong>3.900.000 VND</strong></span>
    </div>
    <button class = "book-btn">ĐẶT NGAY</button>
</div>

<div class = "room-service">
    <ul>
        <li> <img src="assets/roomiconm2.png" alt="Diện tích" class ="icon"> 60-68m2</li>
        <li> <img src="assets/roomiconbed.png" alt="Phòng ngủ" class = "icon"> 2 phòng ngủ</li>
        <li> <img src="assets/roomiconview.png" alt="View" class ="icon"> View hồ, view thành phố, view sông Thái Bình</li>
        <li> <img src="assets/roomiconchef.png" alt="Nấu ăn" class ="icon"> Bếp & dụng cụ nấu ăn</li> 
        <li> <img src="assets/roomiconcafe.png" alt="Cà phê" class ="icon"> Nước uống, trà, cà phê miễn phí</li>
        <li> <img src="assets/roomiconfit.png" alt="Thể dục" class ="icon"> Miễn phí bể bơi ngoài trời, phòng tập gym</li>
    </ul>
    
</div>
</div>
<app-footer></app-footer>